.card-gallery {
    &__cards {
        &_card {
            width: 100%;
    
            @include responsive($bp-lg) {
                width: auto;
                height: 20rem;
            }
        }

        .show {
                display: flex;
            }
        
        .hidden {
            display: none;
        }
    }
}