.home {
    section {
        min-height: calc(100vh - #{$menu-height} - 0.5rem);
        width: 100%;
        border: 2px solid $tertiary-col;
        background-color: $primary-col;
        margin-bottom: 0.5rem; 

        .jumbotron {
            min-height: 100vh;
            background-color: $primary-col;
            margin: 0;
        }

        .striked {
            text-decoration: line-through;
        }

        .row {
            margin: 1.5rem 0.25rem;
        }
    }

    .section {
        &-first {
            margin-top: $menu-height;
            
            .jumbotron {
                background-image: url("../../images/Legends-of-Runeterra.jpg");
                background-size: cover;
                
                .heading {
                    color: $background-col;
                    @include responsive($bp-md) {
                        display: block;
                        
                        &-website {
                            color: black;
                        }
                    } 
                }
            }
        }

        &__latest-news {
            .twitter {
                &__row {
                    width: 70vw;
                    height: 60vh;
                    max-width: 750px;
                    margin: 0 auto;
                }
            }
        }
    }
}