.bar-chart__wrapper {
    .bar-chart {
        height: 200px;
        &__column {
            display: flex;
            flex-direction: column-reverse;
    
            &_demacia {
                background-color: $col-demacia;
            }
    
            &_noxus {
                background-color: $col-noxus;
            }
    
            &_piltoverzaun {
                background-color: $col-pnz;
            }
    
            &_freljord {
                background-color: $col-freljord;
            }
    
            &_ionia {
                background-color: $col-ionia;
            }
    
            &_shadowisles {
                background-color: $col-si;
            }
        }
    }    
    
    .gap {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
}