.deck-creator {
    background-color: $secondary-col;
    border: 0.25rem solid $primary-col;

    &__deck_name {

        &__icon {
            height: 1.5rem;
            width: auto;
        }
    }

    &__cards {
        max-height: calc(80vh - 200px - 20vh);
        overflow-y: auto;
        ul {
            list-style-type: none;
        }
    }
}