.layout {
    background-color: $secondary-col;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-menu;

    .hamburger {
        margin-left: 0.5rem;

        &:hover {
            cursor: pointer;
        }

        .top-line {
            width: 3rem;
            height: 0.5rem;
            border-top: .5rem solid $primary-col;
            border-radius: .5rem;
            margin: 0.5rem 0;

            &-animate {
                border-color: $tertiary-col;
                animation-name: spin-45-left;
                animation-duration: 1.5s;
                animation-fill-mode: forwards;

                &-reverse {
                    animation-name: spin-45-left-reverse;
                    animation-duration: 1.5s;
                    animation-fill-mode: forwards;
                    margin: 0.5rem 0;
                }
            }
        }

        .mid-line {
            width: 3rem;
            height: 0px;
            border-top: .25rem solid $primary-col;
            border-bottom: .25rem solid $primary-col;
            border-radius: .5rem;
            margin: 0.5rem 0;

            &-animate {
                border-color: $tertiary-col;
                animation-name: disappear-left;
                animation-duration: 1.5s;
                animation-fill-mode: forwards;

                &-reverse {
                    animation-name: disappear-left-reverse;
                    animation-duration: 1.5s;
                    animation-fill-mode: forwards;
                    margin: 0.5rem 0;
                }
            }
        }

        .bot-line {
            width: 3rem;
            height: 0.5rem;
            border-bottom: .5rem solid $primary-col;
            border-radius: .5rem;
            margin: 0.5rem 0;

            &-animate {
                border-color: $tertiary-col;
                animation-name: spin-45-right;
                animation-duration: 1.5s;
                animation-fill-mode: forwards;

                &-reverse {
                    animation-name: spin-45-right-reverse;
                    animation-duration: 1.5s;
                    animation-fill-mode: forwards;
                    margin: 0.5rem 0;
                }
            }
        }
    }

    .navrow {
        margin: 0.5rem auto;
        border-bottom: 0.15rem solid $tertiary-col;

        @include responsive($bp-md) {
            //width: 100%;
            min-height: 4rem;
            text-align: center;
        }

        &:last-child {
            border-bottom: none;
        }

        @include responsive($bp-md) {

            .col {
                margin: auto;
            }
        }

        .navlink {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
            color: $primary-col;
            margin: 0 auto;

            @include responsive($bp-md) {
                font-size: 1rem;
            }

            @include responsive($bp-xl) {
                font-size: 1.25rem;
            }

            &:hover {
                cursor: pointer;
                color: $tertiary-col;
                //background-color: darken($color: $secondary-col, $amount: 10%);
            }
            
            &.active{
                color: $tertiary-col;
            }
        }
    }
}