.arrow {
    height: 5rem;
    width: 5rem;
    margin: 0 auto;
    margin-top: -3rem;

    .arrow-upper {
        height: 2.5rem;
        width: 2.5rem;
        transform: rotate(45deg);
        border-bottom: 1rem solid $tertiary-col;
        border-right: 1rem solid $tertiary-col;
        border-radius: 0.5rem;
    }

    .arrow-lower {
        margin-top: -0.5rem;
        height: 2.5rem;
        width: 2.5rem;
        transform: rotate(45deg);
        border-bottom: 1rem solid $tertiary-col;
        border-right: 1rem solid $tertiary-col;
        border-radius: 0.5rem;
    }
}