@-moz-keyframes spin-45-right {
    from {-moz-transform:rotate(0deg) translateY(0);}
    to {-moz-transform:rotate(45deg) translateY(-125%);margin: 0;}
}
@-webkit-keyframes spin-45-right {
    from {-webkit-transform:rotate(0deg) translateY(0);}
    to {-webkit-transform:rotate(45deg) translateY(-125%);margin: 0;}
}
@keyframes spin-45-right {
    from {transform:rotate(0deg) translateY(0);}
    to {transform:rotate(45deg) translateY(-125%);margin: 0;}
}

@-moz-keyframes spin-45-right-reverse {
    from {-moz-transform:rotate(45deg) translateY(-125%);}
    to {-moz-transform:rotate(0deg) translateY(0);}
}
@-webkit-keyframes spin-45-right-reverse {
    from {-webkit-transform:rotate(45deg) translateY(-125%);}
    to {-webkit-transform:rotate(0deg) translateY(0);}
}
@keyframes spin-45-right-reverse {
    from {transform:rotate(45deg) translateY(-125%); border-color: $secondary-col;}
    to {transform:rotate(0deg) translateY(0); border-color: $primary-col;}
}

@-moz-keyframes spin-45-left {
    from {-moz-transform:rotate(0deg) translateY(0);}
    to {-moz-transform:rotate(-45deg) translateY(125%);margin: 0;}
}
@-webkit-keyframes spin-45-left {
    from {-webkit-transform:rotate(0deg) translate(0);}
    to {-webkit-transform:rotate(-45deg) translate(125%);margin: 0;}
}
@keyframes spin-45-left {
    from {transform:rotate(0deg) translateY(0);}
    to {transform:rotate(-45deg) translateY(125%);margin: 0;}
}

@-moz-keyframes spin-45-left-reverse {
    from {-moz-transform:rotate(-45deg) translateY(125%);}
    to {-moz-transform:rotate(0deg) translateY(0);}
}
@-webkit-keyframes spin-45-left-reverse {
    from {-webkit-transform:rotate(-45deg) translate(125%);}
    to {-webkit-transform:rotate(0deg) translate(0);}
}
@keyframes spin-45-left-reverse {
    from {transform:rotate(-45deg) translateY(125%); border-color: $secondary-col;}
    to {transform:rotate(0deg) translateY(0); border-color: $primary-col;}
}

@-moz-keyframes disappear-left {
    0% {
        opacity: 1;
        -moz-transform:translateX(0);
    }
    100% {
        opacity: 0;
        -moz-transform:translateX(-3rem);
        margin: 0;
    }
}
@-webkit-keyframes disappear-left {
    0% {
        opacity: 1;
        -webkit-transform:translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform:translateX(-3rem);
        margin: 0;
    }
}
@keyframes disappear-left {
    0% {
        opacity: 1;
        transform:translateX(0);
    }
    100% {
        opacity: 0;
        transform:translateX(-3rem);
        margin: 0;
    }
}

@-moz-keyframes disappear-left-reverse {
    100% {
        opacity: 1;
        -moz-transform:translateX(0);
    }
    0% {
        opacity: 0;
        -moz-transform:translateX(-3rem);
    }
}
@-webkit-keyframes disappear-left-reverse {
    100% {
        opacity: 1;
        -webkit-transform:translateX(0);
    }
    0% {
        opacity: 0;
        -webkit-transform:translateX(-3rem);
    }
}
@keyframes disappear-left-reverse {
    100% {
        opacity: 1;
        transform:translateX(0);
        border-color: $primary-col;
    }
    0% {
        opacity: 0;
        transform:translateX(-3rem);
        border-color: $secondary-col;
    }
}